# Application Config
PROJECT_NAME=Mega Star HR Portal
WEBAPP_URL=https://gigolo-untracked-viewless.ngrok-free.dev/
SECRET_KEY=mega-star-hr-secret-key

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/megastar_hr

# Telegram Bot
BOT_TOKEN=8749115733:AAEx3xJxsXrFuak5kxlvSqSXFSCcliyb8pk
HR_NOTIFICATION_CHAT_ID=-5375706608
DIRECTOR_NOTIFICATION_CHAT_ID=-5375706608

# AI APIs
OPENAI_API_KEY=your_openrouter_api_key_here
ANTHROPIC_API_KEY=your_openrouter_api_key_here

# Google Sheets API
GOOGLE_SHEETS_CREDENTIALS_FILE=credentials.json
GOOGLE_SHEET_NAME=Mega Star Recruitment Data
GOOGLE_SHEET_ID=16v-xAYrr1tKuicbypcIDjc9norfrVdh3CDDLRVxELGM