# Python / Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# Environment variables & secrets
.env
.env.*
!.env.example

# Databases & local storage
*.sqlite
*.sqlite3
*.db
uploads/
tests/
static/


# IDE & OS meta
.vscode/
.idea/
.DS_Store
*.swp